.leaderboard{
    background: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}
.leaderboard p {
    margin: .3REM 0 0 0;
    font-size: 15px;
    padding: .5REM;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.leaderboard p:active {
    transform: translateY(2px);
}
.lbheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}
.lbheader h1,h2{
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: rgba(0,0,0,.75);
}
.lbheader h1{
    padding-top: .5REM;
    padding-bottom: 0;
    margin: 0;
}
.lbheader h2{
    padding-top: .3REM;
    padding-bottom: 0;
    margin: 0;
    font-size: 16px;
}
