.listing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: .5px solid rgba(0,0,0,.12);
    border-radius: 19px;
    margin: 1REM;
}
.listing:active{
    opacity: .5;
    transform: translateY(2px);
}
.listing h2{
    font-size: 18px;
}
.cflag{
    height: 100%;
    width: 30%;
    padding-left: .5REM;
}
.cname {
    color: rgba(0,0,0,.55); 
}
.cname:active{
    cursor: pointer;
}
.cname:focus{
    cursor: pointer;
}
.ccount {
    color: rgba(230, 0, 0, .55);
}
