@media screen and (min-width: 416px){
    .content-container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(11,1fr);
    }
    .minidash{
        grid-area: 1 / 1 / 4 / 8;
        margin: 2REM;
    }
    .leaderboard{
        grid-area: 1 / 8 / 12 / 11;
        margin: 2REM;
    }
    .fulldash{
        grid-area: 4 / 1 / 12 / 8;
        margin: 2REM;
    }
}

@media screen and (min-width: 1921px){
    .content-container{
        max-width: 90%;
        margin: 0 auto;
    }
}