@media screen and (min-width: 415px) and (max-width:1921px){
    .minicard{
        display: inline-block;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        height: 100%;
        width: 30%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 0 1.5REM;
    }
    .minicard h2 {
        font-weight: 700;
        font-size: 18px;
        color: rgba(0,0,0,.75);

    }
    .minicard h1{
        font-weight: 700;
        font-size: 22px;
    }
    .c1 {
        color: rgba(50, 103, 231, .75);
    }
    .c2 {
        color: rgba(255, 125, 39, .75);
    }
    .c3 {
        color: rgba(55, 195,164, .75);
    }
    .c4 {
        color: rgba(180,150,214,.75);
    }
}